body{
	background-image: url('../img/img.jpg');
	margin: 0px;
	background-size: cover;
	background-repeat: no-repeat;
}
header{
	/*background-image: url('../img/img.jpg');*/
	/*background-color: black;*/
	display: flex;
	justify-content: space-between;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;

}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
	font-family: arial;
}
li{
	display: inline;
	margin-left: 30px;
}
h1{
	text-align: center;
	font-size: 40px;
}
.judul{
	color: black;
}
section{
	background-color: #fff;
	padding: 30px;
	margin:100px 100px 30px;
	border-radius: 10px;
}
article{
	border-bottom: 2px solid black;
	margin-top: 10px;
}